.header {
    width: 100%;
    background-color: #e8e5e5;
    margin-bottom: 1.5rem;
}

.header-content {
    margin: auto;
}


.header .nav {
    margin-right: auto;
}

.header .nav ul li {
    margin-right: 1rem;
    font-weight: 400;
    font-size: medium;
    position: relative;
}

.header .nav ul {
        list-style: none;
        padding: 0;
        display: flex;
}

a {
    text-decoration: none;
}

.active {
  border-bottom: 0.2rem solid rgb(14, 170, 222);
}

.nav li::before {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: rgb(14, 170, 222);
    transition: width 0.2s ease-in-out;
}


.nav li:not(.active):hover::before {
    width: 100%;
}