.blog {
    justify-content: start !important;
    flex-direction: column;
}

.blog .blog-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  margin: 0.5rem 0;
}

.blog .blog-container .left {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin-right: auto;
}

.blog .blog-container .left i {
    padding-right: 0.5rem;
}